.wrapper {
	width: 93vw;
	margin: 0 auto;
	padding: 1.5em 0;
	text-align: center;

	&--filter {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 0;
	}

	&--keywords-box {
		position: relative;
		padding: 120px 0 0;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		max-width: 1000px;
		margin: 0 auto;
	}
}
