@use './assets/colors.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background: colors.$light-grayish-cyan;
	font-size: 1.5rem;
	font-family: 'League Spartan', sans-serif;
}

